@import 'header/_header-left',
        'header/_header-search',
        'header/_searched-keywords',
        'header/_search-suggestion',
        'header/_header-right',
        'header/_sticky-header';

.header-wrap {
    position: relative;
    z-index: 8;
}

.header-wrap-inner {
    padding: 20px 0;
}
.searched-keywords{
  display: none !important;
}
.sticky{
  .header-search-lg{
    height: 40px;
    input{
      height: 38px !important;
    }
  }
  .sidebar-search-close {
    top: 25px;
  }
}
.sidebar-search-close{
  position: absolute;
  right: 20px;
  top: 35px;
  .las{
    font-size: 30px;
  }
}
@media screen and (max-width: $lg) {
    .header-wrap-inner {
        padding: 15px 0;
        border-bottom: 1px solid $border-color;
    }
}
