@import '_slider';

.home-section-wrap {
    margin-top: 0px;
}

.home-section-inner {
    display: flex;
    width: 100%;
    margin-left: 0px;

    .home-slider-wrap {
        width: 100%;
        padding: 0;
    }

    .home-banner-wrap {
        width: 33.15%;
        padding: 0 15px;
    }
}
.read-more{
    font-size: 14px;
    line-height: 26px;
    position: relative;
    padding: 10px 20px;
    display: block;
    float: right;
    background: #000;
    color: #fff;
    font-weight: 100;
}
.colection{
    margin-top: 50px;
    .header-session{
        display: flex;
        vertical-align: bottom;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        font-size: 26px;
        font-weight: 100;
    }
    .colection-title{

    }
    .post-card{
        width: 446px;
        margin: 0 15px;
    }
    .post-name{
        font-size: 16px;
        font-weight: 100;
        padding-top: 15px;
        display: block;
        text-align: center;
        h6{
            font-weight: 100;
        }
    }
    .read-more-colection{
        font-size: 14px;
        line-height: 26px;
        position: relative;
        padding: 10px 20px;
        display: block;
        float: right;
        background: #000;
        color: #fff;
        font-weight: 100;
    }
    .post-card  button{
        margin: auto;
        display: block;
        padding: 0;
        margin-top: 15px;
        background: none;
        border: none;
        a{
            padding: 10px 100px;
            background: #000000;
            color: #fff;
            font-size: 14px;
            font-weight: 100;
        }
    }
}
.colection-video{
    margin-top: 50px;
    .container{
        display: flex;
        align-items: center;
        video, img{
            width: 50%;
        }
        .tab-content{
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                margin-bottom: 20px;
            }
            p{
                font-weight: 100;
            }
            a{
                margin-top: 20px;
                display: block;
                padding: 20px 0px;
                background: #000000;
                width: 250px;
                text-align: center;
                color: #fff;
            }
        }
        .tab-content-left{
            padding-left: 50px;
        }
    }
}
@media screen and (min-width: 1650px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 100%;
        }

        .home-banner-wrap {
            width: 33.34%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .home-section-inner {
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 1255px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 100%;
        }

        .home-banner-wrap {
            width: 33.10%;
        }
    }
}

@media screen and (max-width: $xl) {
    .home-section-inner {
        .home-slider-wrap {
            width: 100%;
        }

        .home-banner-wrap {
            display: none;
        }
    }
}

@media screen and (max-width: $lg) {
    .home-section-wrap {
        .home-section-inner {
            width: 100%;
            margin-left: 0;
        }
    }
}
